@import "../../../variables";

.SideBar {
  background-color: #ffffff;
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: start;

  color: black;

  .logoAdmin {
    text-align: center;
    padding: 10px;
    background-color: #ffffff;
    height: 60px;
    width: 100%;
  }
  .SideBarcol2 {
    row-gap: 5px;
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0px -5px 30px 0px rgba(0, 0, 0, 0.07);
    -webkit-box-shadow: 0px -5px 30px 0px rgba(0, 0, 0, 0.07);
    -moz-box-shadow: 0px -5px 30px 0px rgba(0, 0, 0, 0.07);
    text-align: center;
    img {
      width: 70px;
      border-radius: 99%;
    }
    h6 {
      color: #ff8084;
      text-transform: uppercase;
      font-weight: 600;
      letter-spacing: 1.5px;
      margin-bottom: 3px;
    }
    p {
      text-transform: uppercase;
      font-weight: 600;
      font-size: 10px;
      margin-bottom: 0;
    }
  }

  .Links {
    background-color: #ffffff;
    font-family: work-Sans, sans-serif;
    color: black;
    list-style: none;
    margin: 0;
    padding: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    row-gap: 30px;
  }

  li {
    width: 100%;
    display: flex;
    flex-direction: row;
  }
  span {
    font-size: 14px;
    letter-spacing: 0.5px;
    text-transform: capitalize;
    font-weight: 600;
    color: #313131;
  }
  a {
    text-decoration: none;
    color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: start;
    // justify-content: space-between;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    // row-gap: 10px;
    :nth-child(3) {
      padding-left: 10px;
    }
  }
  i {
    color: black;
    width: 14px;
    height: 14px;
    margin-right: 14px;
    stroke-width: 3px;
    vertical-align: text-bo ttom;
  }
  li:hover {
    color: #ff8084 !important;
  }
}
.active {
  background-color: $Home_Main_color;
  * {
    color: white !important;
  }
}
