@import "../../../variables";

.navbar {
  padding: 0 calc(100% - 80%);
  background-color: $Home_Main_color;
  width: 100%;
  height: 50px;
  justify-content: center;
  align-items: center;
  display: flex;

  .links {
    display: flex;
    //
    column-gap: 40px;
    align-items: center;
    width: 100%;
    a {
      font-size: 16px;
      font-weight: 700;
      text-decoration: none;
      color: white;
      // font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
      font-family: Poppins, sans-serif;
    }
  }
  .logo {
    padding-right: 20px;
    height: 100%;
    img {
      max-width: 120px;
    }
  }

  .cart {
    display: flex;
    column-gap: 40px;
    align-items: center;
    position: relative;
    .cartIcon {
      color: white;
      font-size: 20px;
    }
  }

  .inputClass {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    padding: 7px 15px;
  }
  input {
    outline: none;
    border: none;
  }
  input :focus {
    border-radius: 5px;
    outline: none;
    border: none;
  }
}
.cartMain {
  .popup {
    position: relative;
    opacity: 0;
    transform: scale(0.1);
    transition: opacity 0.2s ease-out !important;
    transition: transform 0.2s ease-out !important;
  }

  &:hover .popup {
    opacity: 1 !important;
    transform: scale(1);
  }
}

.cartActive {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  border-radius: 50px;
  position: absolute;
  top: -15%;
  color: white;
  font-size: 10px;
  right: -10px;
  font-family: serif;
  background-color: #e96161;
}
