@import "../../../../variables";

.products {
  padding: 30px calc(100% - 80%);
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100%;

  .title {
    width: 100%;
    justify-content: space-between;
    display: flex;
  }
  p {
    font-size: 25px;
    font-weight: 900;
    font-family: sans-serif;
  }
  button {
    font-size: 12px !important;
    padding: 5px;
    border: none;
    border-radius: 10px;
  }
}

.list {
  padding: 50px 0;
  row-gap: 100px;
  column-gap: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
