@import "../../../variables.scss";

.categoriesAdmin {
  // position: relative;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  text-align: center;

  .loading {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.2);
    height: 100%;
    width: 100%;
    z-index: 4;
  }
  .imageCategory {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 20px 10px;

    input {
      display: none;
    }
    img {
      width: 100px;
      padding: 20px;
    }
    label {
      font-size: 12px;
      margin-top: 20px;
      background-color: #f8fafb;
      padding: 50px;
      border-radius: 10px;
      display: flex;
      justify-content: center;
      flex-direction: column;
    }
  }
  h1 {
    padding: 10px;
    text-align: center;
  }

  .addCategory {
    display: grid;

    grid-template-columns: 1fr 1fr;

    padding: 20px;
    border-radius: 10px;
    column-gap: 50px;
  }
  .col1 {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    display: flex;
    background-color: white;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    justify-content: center;
    padding: 20px;
    row-gap: 20px;

    button {
      cursor: pointer;
      display: flex;
      justify-content: center;
      width: 200px;
      height: 40px;
      align-items: center;
      border-radius: 25px;
      background-color: #000;
      color: #fff;
      font-weight: 700;
      font-size: 14px;
    }
    .inputImg {
      display: none;
    }

    input {
      width: 100%;

      padding: 10px 5px;
      font-size: 14px;
      border-width: 0px;
      border-color: #d0d0d0;
      background-color: #fff;
      color: #000;
      border-style: solid;
      border-radius: 4px;
      border: 1px solid black;
    }

    .UploadedImgCategory {
      width: 200px;
    }
  }

  .listCategories {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    width: 100%;
    background-color: white;
    padding: 20px;
    display: grid;
    display: flex;
    height: 100%;
    flex-wrap: wrap;
    column-gap: 50px;
  }
  .wrapperPopUpdate {
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    z-index: 3;
    height: 100%;

    position: absolute;
  }
  .popUpdate {
    position: absolute;
    top: 15%;
    -webkit-transition: all 0.9s ease;
    transition: all 0.9s ease;
    i {
      position: absolute;
      top: 5%;
      cursor: pointer;
      right: 5%;
    }
    background-color: white;
    border-radius: 20px;
    width: 500px;
    row-gap: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 300px;
    justify-content: center;

    label input {
      display: none;
    }
    label {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      row-gap: 10px;
      max-height: 100%;
    }
    input {
      padding: 5px 6px;
      font-size: 15px;
      border-width: 0px;
      border-color: #cccccc;
      background-color: #ffffff;
      color: #000000;
      border-style: solid;
      border-radius: 10px;
      box-shadow: 0px 0px 4px rgba(66, 66, 66, 0.4);
      text-shadow: -50px 0px 6px rgba(66, 66, 66, 0);
    }

    img {
      width: 100px;
      height: auto;
    }

    .UpdateBtn {
      @include btnAdmin(10px 20px);
    }
  }
}
